<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Angular Forms</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive='active'><a routerLink="/forms">TemplateForms(Learning)</a></li>
                <!--<li routerLinkActive='active'><a [routerLink]="['/reactive','5','edit']" [queryParams]="{allowEdit:'1'}">ReactiveForms(Learning)</a></li>-->&nbsp;
                <button style="margin-top: 9px;" class="btn btn-success" (click)="onLoadPage()">Load Reactive(learning)</button>&nbsp;
                <button style="margin-top: 9px;" class="btn btn-primary" (click)="onHttpPage()">Http Requests</button>
                <li routerLinkActive='active'><a routerLink="/template-driven">Template-Driven Assignment</a></li>
                <li routerLinkActive='active'><a routerLink="/reactive-form">ReactiveForms Assignment</a></li>
                <li routerLinkActive='active'><a routerLink="/pipes">Pipes Assignment</a></li>
            </ul>
        </div>
    </div>
</nav>